In [1]:
import numpy as np
import pandas as pd
from find_errors import errorOf

### 1)

<img src="IMG_2965.jpg">

<img src="IMG_2966.jpg">

<img src="IMG_2967.jpg">

<img src="IMG_2968.jpg">

In [3]:
def binaria(x,k=20):
    if type(x) == int:
        if x < 0:
            x = -x
            print("La lista de output debe considerarse como un numero binario negativo")
        binario = []
        while x > 0:
            binario.append(x%2)
            x = x//2
        binario.reverse()
        return binario
    else:
        binario_entera = binaria(int(x),k)
        fraccion = x-int(x)
        binario_fraccion = []
        for i in range(k):
            fraccion = fraccion*2
            ent = int(fraccion)
            binario_fraccion.append(ent)
            fraccion = fraccion-ent
        return binario_entera, binario_fraccion

In [4]:
binaria(233.33) # Regresa la parte entera a la izquierda y la fraccionaria a la derecha.

([1, 1, 1, 0, 1, 0, 0, 1],
 [0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0])

In [5]:
def decimal(num_binario):
    d=0
    for j,n in enumerate(num_binario):
        d += n/(2**(j+1))
    return d

In [6]:
decimal(binaria(0.1)[1])

0.09999942779541016

In [7]:
raiz2_binario=binaria(np.sqrt(2))
s = "."
for i in raiz2_binario[1]:
    s += str(i)
s = float(s)

In [8]:
print("Error procentual:",abs(s-0.0110101)/s * 100,"%, usando una precisión en la forma binaria de raiz de 2 de k=20 cifras significatvias")

Error procentual: 9.092641465355561e-10 %, usando una precisión en la forma binaria de raiz de 2 de k=20 cifras significatvias

In [9]:
pi_binario = binaria(np.pi)
decimal(pi_binario[1]) # parte decimal

0.14159202575683594

In [10]:
s = "."
for i in pi_binario[1]:
    s += str(i)
s = float(s)
print("Error procentual:",abs(s-0.0010010001)/s * 100,"%, usando una precisión en la forma binaria de pi de k=20 cifras significatvias")

Error procentual: 8.880009776124563e-06 %, usando una precisión en la forma binaria de pi de k=20 cifras significatvias

In [12]:
errorOf(np.pi)

3.141592653589793e-16

In [13]:
errorOf(np.sqrt(2))

1.414213562373095e-16

Modificaciones: 

(Estas cosas me faltaron agregar en el otro notebook del classroom por el tiempo, solo son detalles: ya estaba todo lo importante allá)

+ Importe una funcion del modulo que te comente que cree: from find_errors import errorOf
+ Agregue una prueba para las que convierten de binario a decimal y viceversa
+ Agregue la parte del inciso 4 del problema 1, i.e. la conversion de la raiz de 2 y pi a binario y la resta y calcular el error porcentual.
+ Corregi el orden de iteracion en la funcion decimal

### 3)

In [9]:
def inverso_tan_hip(u):
    
    def newton(f, df, x, epsilon=1e-10):
        ff = f(x)
        res = [[x, ff, np.nan]]
        xn = x
        while True:
            xnp1 = xn - ff / df(xn)
            ff = f(xnp1)
            res.append([xnp1, ff, xnp1-xn])
            if abs(ff) < epsilon:
                break
            xn = xnp1
        return res
    
    def poli(x):
        return np.tanh(x)-u
    def Dpoli(x):
        return 1/np.cosh(x)
    
    res = newton(poli,Dpoli,0)
    
    return res

In [10]:
pd.DataFrame(inverso_tan_hip(1), columns=["$x_n$", "$f(x_n)$", "$x_n - x_{n-1}$"])

            $x_n$      $f(x_n)$  $x_n - x_{n-1}$
0        0.000000 -1.000000e+00              NaN
1        1.000000 -2.384058e-01         1.000000
2        1.367879 -1.217920e-01         0.367879
3        1.622526 -7.501021e-02         0.254646
4        1.819925 -5.116903e-02         0.197399
...           ...           ...              ...
141411  11.859477 -1.000044e-10         0.000007
141412  11.859484 -1.000030e-10         0.000007
141413  11.859491 -1.000016e-10         0.000007
141414  11.859498 -1.000002e-10         0.000007
141415  11.859505 -9.999879e-11         0.000007

[141416 rows x 3 columns]